* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    width: 100%;
  }

/* ---------------------------------------------Scrollbar-------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track where we are on the page */
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Moving bar */
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.641);
    border-radius: 10px;
  }
  
  /* Moving bar on hover */
  
  ::-webkit-scrollbar-thumb:hover {
    background: #c18cd6;
  }


/*--------------------------------------------------------------------------------------------------*/

/*-----------------------------------Back to top button-----------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/

#TopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: rgba(46, 40, 45, 0.371);
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#TopBtn:hover {
  color: rgb(27, 30, 27);
  background-color: rgba(245, 215, 244, 0.619);
}

.hide {
  opacity: 0;
  display: none;
}
.show {
  opacity: 1;
}



/*-------------------------------------------------------------------------------*/

/*---------------------------------Login Page--------------------------------*/

/*-------------------------------------------------------------------------------*/

/*------------Login Container-------------*/

.LoginPage {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
    min-height: 100vh;
    background-color: rgb(46, 34, 19);
    /* background: linear-gradient(to bottom, #2e2e2e, #6b6b6b); */
    /* background: linear-gradient(
      -45deg,
      #16dcff,
      #90b5ff,
      #c18cd6,
      #f291bb,
      #ff9ca3
    ); */
    /* box-shadow: 0px -2px 75px 5px rgba(126, 122, 122, 0.223) inset; */
  }
  
  .login-color-container{
    height: 100%;
    width: 100%;
    background-color: transparent;
    filter:blur(80px);
  }

  .login-color:first-child{
    position:absolute;
    left: 250px;
    height: 100px;
    width: 200px;
    background-color: #fffc3da8;
  }

  .login-color:nth-child(2){
    position:absolute;
    bottom: -1000px;
    right: 610px;
    height: 110px;
    width: 150px;
    background-color: #ffae52;
  }

  .login-color:nth-child(3){
    position:absolute;
    bottom: -700px;
    left: 150px;
    height: 90px;
    width: 90px;
    background-color:#b8d68c;
  }

  .login-color:nth-child(4){
    position:absolute;
    top: 200px;
    right: 150px;
    height: 90px;
    width: 90px;
    background-color:#57cf7b;
  }

  /*------------Box at the center of screen-------------*/
  
  .loginBox {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    color: aliceblue;
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    align-items: center;
}
  
  @media (max-width: 1400px) {
    .loginBox {
      margin-top: 5%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10%;
      margin-right: 5%;
    }
  }
  
  .loginContainer {
    position: relative;
    min-width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(242, 237, 237, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  /*------------Login Form-------------*/
  
  .loginForm {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  
  .loginForm h2 {
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 50px;
  }
  
  .loginForm h2::before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 130px;
    width: 60px;
    height: 3px;
    background: aliceblue;
  }
  
  /*------------Form Input boxes-------------*/
  
  .loginInputBox {
    width: 100%;
    margin-top: 20px;
  }
  
  .loginInputBox input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: aliceblue;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  }

  
  .loginInputBox input::placeholder {
    color: rgba(225, 254, 253, 0.858);
  }
  
  /*------------Input box backgrounds after auto fill-------------*/
  
  .loginInputBox input:-webkit-autofill,
  .loginInputBox input:-webkit-autofill:hover,
  .loginInputBox input:-webkit-autofill:focus,
  .loginInputBox input:-webkit-autofill:active {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  
  /*------------Form Submit Button-------------*/
  
  .loginInputBox input[type="submit"] {
    background-color: aliceblue;
    color: rgb(182, 164, 106);
    width: fit-content;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 110px;
    margin-bottom: 20px;
    font-weight: 600;
    /*margin-left: 30%;*/
  }
  
  .loginInputBox input[type="submit"]:hover {
    background-color: rgb(182, 164, 106);
    color: aliceblue;
  }
  
  
  
  
  .loginInputBox select {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: aliceblue;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  }
  
  .loginInputBox select::placeholder {
    color: rgba(225, 254, 253, 0.858);
  }
  
  .loginInputBox select::selection {
    color: #c18cd6;;
  }
  
  /*------------Input box backgrounds after auto fill-------------*/
  
  .loginInputBox select:-webkit-autofill,
  .loginInputBox select:-webkit-autofill:hover,
  .loginInputBox select:-webkit-autofill:focus,
  .loginInputBox select:-webkit-autofill:active {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  
  .loginInputBox select > option{ 
    color: #7a7474;;
  }
  /*------------Messages and redirections at bottom of the box-------------*/
  
  .forgotPswd {
    display: flex;
    margin-top: 10px;
    color: aliceblue;
    justify-content: center;
  }
  
  .forgotPswd a {
    color: rgb(182, 164, 106);
    font-weight: 600;
    text-decoration: none;
    margin-left: 4px;
  }
  
  .forgotPswd a:hover {
    color: rgb(240, 248, 255);
  }
  
  /*-------------------------------Login image------------------------------------*/
  
  .login-img {
    width: 100%;
    border-radius: 255px;
    /* opacity : 0.9; */
  }
  
  @media (max-width: 1400px) {
    .login-img {
      /* margin-top: 8%;
      margin-bottom: 10%; */
      margin-left: 10%;
    }
  }
  
  input[type="time"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
  }





/*-------------------------------------------------------------------------------*/

/**----------------------------- Register page--------------------------------- **/

/*-------------------------------------------------------------------------------*/

.RegisterPage {
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(28, 22, 14);
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
  /* background: linear-gradient(to bottom, #2e2e2e, #6b6b6b); */
  /* background: linear-gradient(
    45deg,
    #16dcff,
    #90b5ff,
    #c18cd6,
    #f291bb,
    #ff9ca3
  );
  box-shadow: 0px -20px 256px 28px rgba(255, 255, 255, 0.778) inset; */
}


.register-color-container{
  height: 100%;
  width: 100%;
  background-color: transparent;
  filter:blur(100px);
}

.register-color:first-child{
  position:absolute;
  left: 250px;
  height: 100px;
  width: 200px;
  background-color: #fbf84873;
}

.register-color:nth-child(2){
  position:absolute;
  bottom: -1000px;
  right: 610px;
  height: 110px;
  width: 150px;
  background-color: #cfb49691;
}

.register-color:nth-child(3){
  position:absolute;
  bottom: -700px;
  left: 150px;
  height: 90px;
  width: 90px;
  background-color:#b8d68c;
}

.register-color:nth-child(4){
  position:absolute;
  top: 200px;
  right: 150px;
  height: 90px;
  width: 90px;
  background-color:#8cd6a2;
}

/*------------Regiser Button-------------*/

#Registerbtn {
  background-color: aliceblue;
  color: #c18cd6;
  width: fit-content;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 20px;
  font-weight: 600;
}

#Registerbtn:hover {
  background-color: #c18cd6;
  color: aliceblue;
}


.register-img{
  width: 120%;
  border-radius: 255px;
}

@media (min-width:1100px) {
  .register-img{
      margin-left: 10%;
    }
}

  
/*--------------------------------------------------------------------------------------------------*/

/*------------------------------------------------HELP PAGE----------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/

.help-page{
  display:flex;
  justify-content: center;
}

.help-page-container{
  background-color: white;
  border-radius: 15px;
  margin: 40px;
  padding: 5px 20px;
  padding-bottom: 40px;
  box-shadow: 0 5px 45px rgba(77, 77, 77, 0.226);
  border-bottom: 1px solid rgba(65, 64, 64, 0.5);
  border-right: 1px solid rgba(19, 19, 19, 0.2);
  border-left: 1px solid rgba(19, 19, 19, 0.2);
  border-top: 1px solid rgba(93, 88, 88, 0.282);
}

body.dark .help-page-container{
  background-color: white;
  border-radius: 15px;
  margin: 40px;
  padding: 5px 20px;
  padding-bottom: 40px;
  box-shadow: 0 5px 45px rgba(241, 241, 241, 0.83);
  border-bottom: 1px solid rgba(65, 64, 64, 0.5);
  border-right: 1px solid rgba(19, 19, 19, 0.2);
  border-left: 1px solid rgba(19, 19, 19, 0.2);
  border-top: 1px solid rgba(93, 88, 88, 0.282);
}

.help-prompt{
  text-align:center; 
  font-weight:500; 
  color:rgba(85, 84, 85, 0.986);
  margin:50px;
  margin-left:70px;
  margin-right:70px;
}

.help-form{
  width: 100%;
}

.all-questions{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width:100%;
}

.help-question{
  width:75%;
  display: flex;
  flex-direction: column;
}

.help-label{
  margin: 15px;
  color :rgba(85, 84, 85, 0.986);
}

.help-input{
  width:100%;
  float: center;
  background-color: rgba(206, 204, 204, 0.2);
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 15px;
  border-bottom: 1px solid rgba(65, 64, 64, 0.5);
  border-right: 1px solid rgba(19, 19, 19, 0.2);
  /* borde: 1px solid rgba(48, 48, 48, 0.2); */
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(27, 27, 27, 0.858);
  box-shadow: 0 5px 15px rgba(77, 77, 77, 0.05);
}

.help-task-input::placeholder {
  color: rgba(27, 27, 27, 0.473);
  font-size: smaller;
}

/*------------Input box backgrounds after auto fill-------------*/

.help-task-input:-webkit-autofill,
.help-task-input:-webkit-autofill:hover,
.help-task-input:-webkit-autofill:focus,
.help-task-input:-webkit-autofill:active {
  background-color: rgba(255, 255, 255, 0.2) !important;
}


#drop_zone {
  width: 100%;
  height: 300px;
}




.submit-help-btn {
  margin: 10px;
  margin-top: 110px;
  margin-bottom: 50px;
  border: 0.4px solid #c9bccd;
  font-size: 1em;
  width: 230px;
  height: 60px;
  border-radius: 15px;
  padding: 17px 25px;
  font-weight: 200;
  background: #ffe600a7;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 25px rgba(124, 9, 147, 0.562);
  transition: all 0.4s ease-in-out;
  z-index: 1;
  color: rgb(89, 81, 81);
  text-shadow: 1px 1px rgb(196, 205, 255);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.submit-help-btn:active {
  background: #d341ccbb;
  box-shadow: 0px 0px 25px rgba(236, 140, 216, 0.562);
}

.submit-help-btn:hover {
  background: #ff9ca3;
  box-shadow: 0px 0px 25px rgba(236, 140, 216, 0.562);
  border-bottom: 0.4px solid #c711ac;
  border-right: 0.4px solid #ee79de;
}
/* .submit-help-btn{
  background-color: #c18cd6;
  border-radius: 15px;

} */

.modal-Title {
  color: rgba(85, 84, 85, 0.986);
  text-align: center;
  margin-top: 3.5%;
  text-shadow: 2px 2px rgba(240, 236, 116, 0.804);
  font-size: 2em;
}

.Create-planning-Btn{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(89, 81, 81, 0.714);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  background-color: #ffe600a7;
  width: fit-content;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 110px;
  margin-bottom: 20px;
  font-weight: 600;
  /*margin-left: 30%;*/
}

@media screen {
  .Create-planning-Btn{
    margin-left: 0px;
  }
}


.Create-planning-Btn1{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: aliceblue;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  background-color: #c18cd665;
  color: #ffffff;
  width: fit-content;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 110px;
  margin-bottom: 20px;
  font-weight: 600;
  /*margin-left: 30%;*/
}

/*--------------------------------------------------------------------------------------------------*/

/*-------------------------------Header for inside pages---------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
.logo-nav-clean{
  width: 177px;
  height: 167px;
  margin: 0px;
  margin-left: 37px;
  margin-right: 18px;
}

.logo-nav{
  width: 177px;
  height: 167px;
  margin: 0px;
  /* margin-bottom: 50px; */
  margin-top: 31px;
  margin-left: 37px;
}



.dark .logo-nav{
  width: 177px;
  height: 167px;
  margin: 0px;
  /* margin-bottom: 50px; */
  margin-top: 21.8px;
  margin-left: 37px;
}

@media (max-width:900px) {
  .logo-nav{
    margin-left: 0px;
  }

  .dark .logo-nav{
    margin-left: 0px;
  }
}

.logo-nav:before {
  content: url(LogoWhite2.png);
}

body.dark .logo-nav:before {
  content: url(LogoBrown.png);
}



.Navbar {
  display: flex;
  flex-direction: row;
}

.to-page-nav {
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border-bottom: 0.4px solid #3c2b43;
  border-right: 0.4px solid #93799e; */
  font-size: 1.2em;
  width: 230px;
  height: 60px;
  border-radius: 15px;
  padding: 17px 25px;
  font-weight: 200;
  /* background: #c18cd6d0; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  /* box-shadow: 0px 0px 25px rgba(124, 9, 147, 0.562); */
  transition: all 0.4s ease-in-out;
  z-index: 1;
  color: rgb(93, 93, 93);
  text-shadow: 1px 1px rgba(255, 253, 196, 0.81);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

body.dark .to-page-nav {
  color: rgb(208, 208, 208);
  /* box-shadow: 0px 0px 25px rgba(229, 138, 247, 0.562); */
}

.to-page-nav:hover {
  background: #ff9ca3;
  box-shadow: 0px 0px 25px rgba(236, 140, 216, 0.562);
  border-bottom: 0.4px solid #c711ac;
  border-right: 0.4px solid #ee79de;
}

.to-page-nav:active {
  background: #d341ccbb;
  box-shadow: 0px 0px 25px rgba(236, 140, 216, 0.562);
}

@media (max-width: 1100px) {
  .Navbar {
    display: flexbox;
    flex-direction: column;
  }
  .to-page-nav {
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.headernav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 1400px) and (min-width: 1050px) {
  .headernav {
    align-content: stretch;
    justify-content: space-evenly;
  }
}

@media (max-width: 800px) {
  .headernav {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
}
  
  .user {
    /* margin: 45px; */
    border-radius: 50px;
    color: #c18cd6d0;
    border-color: #c18cd6d0;
    box-shadow: 0px 0px 25px rgba(213, 94, 237, 0.562);
    /* padding: 1.5%; */
  }
  
  @media (min-width: 1100px) {
    .user {
      margin-bottom: 95px;
    }
  }
/* ------------- user drop down menu --------------- */

.nav-user-menu{
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .User-menu-container{
    display: flex;
    flex-direction: column;
  }
  
  .User-profile-icon {
    margin: 50px;
    margin-left:62px;
    margin-right:65px;
    border-radius: 50px;
    background: transparent;
    color: rgb(93, 93, 93);
    border: 0.5px solid rgba(93, 93, 93, 0.349);
    /* border-color: #fbdf2df1; */
    box-shadow: 0px 0px 25px rgba(237, 199, 94, 0.292);
    padding: 20px;
    /* top : 0; */
  }

  body.dark .User-profile-icon  {
    color: rgb(236, 230, 230);
  }
  /* 
  @media (min-width: 1100px) {
    .User-profile-icon {
      margin-bottom: 95px;
    }
  } */
  
  .user-menu{
    position: relative;
    width: 200px;
    min-height: 100px;
    background: #f7f5de;
    /*top: calc( + 30px);*/
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    display:none;
    transition: 0.5s;
    border-radius: 10px;
    z-index: 9;
    margin-bottom : 10px;
    margin-top : -22px;
  }
  /* 
  .user-menu::before{
    content: '';
    position: absolute;
    top: -8px;
    right: 85px;
    width: 20px;
    height: 20px;
    background: #f7def1;
    transform: rotate(45deg);
  } */
    
  .user-menu.active {
    display: block;
  }
  
  .user-menu ul{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #f7f4de;
    border-radius: 10px;
    width: 100%;
  }
  
  .user-menu ul li{
    list-style: none;
    padding : 15px 20px;
    transition : 0.5s;
    border-bottom: 1px solid rgba(71, 71, 71, 0.293);
  }
  
  .user-menu ul li:last-child{
    border-bottom:none;
  }
  
  .user-menu ul li:hover{
    background-color: #a9a5a64d;
    transition : 0.5s;
  }
  
  .user-menu ul li:active{
    background-color: #2121214d;
  }
  
  .to-page-user-nav{
    text-decoration: none;
    color: #616161;
  }
  
  .delete-list-button{
    width:100%;
    display:flex; 
    justify-content:space-evenly; 
    margin-top: 30px;
  }
  
  .AddInputBox,no {
    margin-left: 0px;
  }
  
  .CloseTodoList-container{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .CloseTodoList{
    padding-right: 25px;
    padding-top: 15px;
    border: none;
    background: none;
    font-size: large;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

/*--------------------------------------------------------------------------------------------------*/

/*-------------------------------Dark Light Mode---------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/

body.dark {
  /* background: #282c2d; */
  background: rgb(46, 34, 19);
}

.container-toggle {
  transition: background 0.5s;
}

body.dark .container-toggle {
  background: #373134;
  color: rgb(209, 202, 4);
}

.toggle {
  /* position: absolute; */
  /* top: 50px;
  right : 20px; */
  width: 54px;
  height: 52px;
  border-radius: 26px;
  padding: 26px;
  padding-top: 26px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.5px solid rgba(93, 93, 93, 0.349);

  box-shadow: 0px 0px 25px rgba(237, 199, 94, 0.292);
}

body.dark .toggle {
  background: transparent;
  box-shadow: 0px 0px 25px rgba(237, 199, 94, 0.292);
}

.toggle:before {
  content: url(dark.svg);
}

body.dark .toggle:before {
  content: url(light.svg);
}

.light {
  margin: 35px;
  margin-top: 29px;
  padding: 1.5%;
}

   /*--------------------------------------------------------------------------------------------------*/

/*------------------------------------------------FOOTER----------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/

footer {
  margin-top: 4%;
  background: transparent;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  text-align: center;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 0px;
  width: 100%;
  background: #ffffff;
}

/*-------------------Footer Content---------------*/

footer .content-footer {
  max-width: 1250px;
  margin: auto;
  padding: 20px 0px 4px 20px;
}

footer .content-footer .top {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-bottom: 50px;
}

.top{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-bottom: 50px;
}

.content-footer .top .logo-details {
  color: #fff;
  font-size: 20px;
  float: left;
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
}

/*--------------Rescale the logo-----------------*/

.logo-details img {
  margin-top: -9%;
  height: 10%;
  width: 26%;
  display: inline;
  margin-right: 15px;
  float: left;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .logo-details img {
    margin-top: 5%;
    width: 160px;
    display: inline;
    margin-right: 15px;
    float: left;
    opacity: 0.5;
  }
}

.content-footer .top .media-icons {
  display: flex;
}

.logo-name {
  padding-top: 0.8em;
  color: rgba(26, 26, 26, 0.615);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.275);
  font-size: medium;
  font-weight: 900;
  font-family: serif;
}

body.dark .logo-name {
  color: rgba(252, 252, 252, 0.615);
}

/*-----------customize media links--------------*/

.content-footer .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

/*----------Give every link it's specific appearance-------*/

.top .media-icons a:nth-child(1) {
  background: #90b5ff;
}
.top .media-icons a:nth-child(1):hover {
  color: #90b5ff;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #c18cd6;
}
.top .media-icons a:nth-child(2):hover {
  color: #c18cd6;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #f291bb;
}
.top .media-icons a:nth-child(3):hover {
  color: #f291bb;
  background: #fff;
}